<!DOCTYPE html>
<html lang="en">

<head>
    <style>
         body {
            background-image: url("https://cdn.pixabay.com/photo/2021/03/18/19/56/keyboard-6105750_1280.jpg");
        }
        a{
            color:black;
        }
        a:hover{
            color:blue;
            font-size:larger;
        }
        h1{
            font-size:80px;
            color:white;
        }
        h3{
            color:#7a7272;
        }
    </style>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width,initial-scale=1.0" />
   <title>Employee Profile</title>

</head>
<body>
    <br />
    <h3 align="center">
        <font face="Lato" size="6">NewConcept</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <font face="cinzel">
            <a href="http://127.0.0.1:5000/accounting">ACCOUNTING</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://127.0.0.1:5002/it">IT</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://127.0.0.1:5003/projectmanagement">PROJECT MANAGEMENT</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </font>
    </h3>
    <br /><br /><br /><br />
    <h1 align="center">
    <font face="Lato" size"6">
    HRIS App Project
    </font>
    </h1>
</body>
</html>