<html>
<head>
   <meta http-equiv = "Content-Type" content ="text/html; charset=utf-8" />
   <title>Employee Profile</title>
</head>
<body>
   <h3>
      <a href = "{{ url_for('show_all')}}">Employee Profile</a>
   </h3>
   
   <hr/>
   {%- for message in get_flashed_messages() %}
      {{message}}
   {%- endfor %}

   <h3>employee (<a href = "{{ url_for('new')}}">Add</a></h3>

   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
         </tr>
      </thead>

      <tbody>
         {% for employee in employeeprofile %}
            <tr>
               <td>{{ employee.name}}</td>
               <td>{{ employee.email}}</td>
               <td>{{ employee.phone}}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</body>
</html>