<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Project Management</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
<h1>Project Management</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Task Assigned</th>
            <th>Task Status</th>
        </tr>
        <tr>
            <td>Estimate budget</td>
            <td>Timothy McCreesh</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>Web page designs</td>
            <td>Enci Zou</td>
            <td>In Progress</td>
        </tr>
        <tr>
            <td>Project Documentation</td>
            <td>Daniel Chao</td>
            <td>In Progress</td>
        </tr>
        <tr>
            <td>Program web pages</td>
            <td>Dhruvil Patel</td>
            <td>In Progress</td>
        </tr>





    </table>


</body>